*{
    box-sizing: border-box;
}
.area{
    margin: 0px 50px;
}
.formLogin{
    width: 100%;
    max-width: 400px;
    margin: auto;
}

/* campos */
.campos{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.campo{
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;                
    background-color: #fff;        
    padding: 0px 5px;
    margin-bottom: 5px;
    overflow: hidden;
    border-radius: 3px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    font-family: cursive, arial;
}
.campo .label{
    background-color: #fff;
    position: absolute;
    border-radius: 5px;
    padding: 0px 5px;
    color: #555;
    font-size: 20px;
    /*transition: all 0.3s;*/ /*para caso não usar o animate do jquery*/
}    
.campo .labelFocus{ /*usar em conjunto com a classe .label. Não precisa dessa classe caso use o animate do jquery*/
    margin-top: -35px;
    font-size: 12px;
    color: #aaa;
}
.campo input{
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    border: 0px;
    outline: 0;
    color: #272727;
    text-transform: uppercase;
}
.campo .inputSenha{
    text-transform: inherit;
}
.campo .btnVerSenha{
    width: 30px;
    background-color: #ccc;
    margin-right: -5px;
    padding: 2px;
}

/* Requisitos senha */
.forcaPass{
    position: absolute;		
    display: none;
    font-size: 10px;
    padding: 0px 5px;
    margin-top: 35px;
    margin-left: 10px;
    border-radius: 10px;
}
.forcaPass-fraca{
    background-color: indianred;
}
.forcaPass-media{
    background-color: orange;
}
.forcaPass-forte{
    background-color: springgreen;
}
.forcaPass-excelente{
    background-color: seagreen;
}
.forcaPass-verRequisitos{
    width: 15px;
    margin-left: 10px;	    
    border-radius: 50%;    
    background-color: #fff;
    opacity: 0.3;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    color: #000;
}
.forcaPass-verRequisitos:hover{
    background-color: yellow;
    opacity: 1;
}
.forcaPass-verRequisitos-ativo{
    background-color: yellow;
    opacity: 1;
}
.forcaPass-requisitos{
    display: none;
    position: absolute;
    margin-top: 14px;
    margin-left: -6px;	    
    background-color: lightgoldenrodyellow;
    padding: 10px;
    border-radius: 3px;
    flex-wrap: wrap;
    z-index: 1;
    color: #000;
}
.forcaPass-requisitos-forca{
    display: flex;
    flex-direction: column;
    min-width: 155px;
    padding-right: 5px;
    margin-bottom: 15px;
}
.forcaPass-requisitos-forca span:first-child{
    font-weight: bold;
    margin-bottom: 5px;
    text-decoration: underline;
}

/* botão */
.botoes{
    display: flex;
}
.botoes .botao{
    width: 100%;
}
.botao{
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 5px;
    background-color: #ccc;
    background: linear-gradient(0deg, #ccc, #fff);
    border-radius: 5px;
    border: 1px solid #aaa;
    cursor: pointer;
    color: #666;
    font-size: 24px;
    font-weight: bold;
    font-family: cursive;
    transition: all 0.3s;
}
.botao:hover{
    background-color: #aaa;
    background: linear-gradient(0deg, #aaa, #ddd);
    color: #333;
    font-size: 26px;
}
.botao:active{
    font-size: 24px;
}
.botao-dark{
    background: linear-gradient(0deg, #222, #aaa);
    color: #fff;
}
.botao-dark:hover{
    background: linear-gradient(0deg, #000, #aaa);
    color: #fff;
}