*{
    font-family: arial;
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
}
:root{
    --formBg: white;
    --tituloForm: #000;
    --widthBotao: 130px;
}
.area{
    width: 100%;
}
.areaInt{
    width: 100%;
    margin: 0px 10px;
}
.areaTopo{
    display: flex;    
    box-shadow: 0px 0px 3px 1px #fff;
    background-color: aliceblue;
    background: linear-gradient(45deg, mediumpurple, #fff);
}
.areaIntTopo{
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 100px;
    height: 100px;
    margin: 5px 0px;
    background: linear-gradient(0deg, purple 0%, #fff);
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0px 4px 8px 2px #000;
    cursor: pointer; 
    transition: all 0.5s;
}
.logo img:hover{
    padding: 12px;
    background: linear-gradient(0deg, purple 30%, #fff);
    box-shadow: 0px 4px 12px 3px #000;
}
.logo img:active{
    background: linear-gradient(0deg, purple 20%, #fff);
    box-shadow: 0px 0px 5px 0px #000;
}
form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
    background-color: var(--formBg);
    margin: 30px auto;
}
.areaImg img{
    width: 100%;
    height: 100%;
}
.areaGif{
    position: absolute;
    display: none;
}
.gifCarregando{
    opacity: 0.5;
}

/* modal de base */
    .modalBase{
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1000;
    }
    .modalBaseArea{
        width: 800px;
        background-color: #fff;
        border-radius: 5px;
        margin: auto;
        margin-top: 50px;
        box-shadow: 0px -3px 0px 2px #000;
    }
    .modalTitulo{
        position: absolute;
        color: #fff;    
        background-color: #000;
        margin-top: -50px;
        border-radius: 2px;
        padding: 0px 15px;
        font-size: 30px;
        font-family: cursive;
    }
    .btnFecharModal{
        color: #aaa;
        cursor: pointer;
    }
    .btnFecharModal:hover{
       color: #000;
    }
    .modalBody{
        height: 300px;
        border-bottom: 1px solid #ccc;        
        overflow: auto;
        padding: 10px;
        color: #333;
    }
    .modalFooter{
        height: 50px;
        padding: 10px;
        display: flex;
    }
    .modalPequeno{
        width: 400px;
    }
    .modalMedio{
        width: 800px;
    }

/* campos */
    .campos{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 20px
    }
    .campo{
        width: 100%;
        height: 30px;
        border: 1px solid #ccc;                
        background-color: #fff;        
        padding-left: 5px;
        margin-bottom: 15px;
        overflow: hidden;
        border-radius: 3px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: text;
        font-family: cursive, arial;
    }
    .campo .required{
        position: absolute;
        color: red;
        margin-left: -5px;
        margin-top: 5px;
        font-size: 14px;
    }
    .campo .label{
        background-color: #fff;
        position: absolute;
        border-radius: 5px;
        padding: 0px 5px;
        cursor: text;
        color: #555;
        font-size: 20px;
        font-family: cursive;
        /*transition: all 0.3s;*/ /*para caso não usar o animate do jquery*/
    }    
    .campo .labelFocus{ /*usar em conjunto com a classe .label. Não precisa dessa classe caso use o animate do jquery*/
        margin-top: -35px;
        font-size: 12px;
        color: #aaa;
    }
    .campo input{
        width: 100%;
        border: 0px;
        outline: 0;
        font-size: 14px;
        font-family: cursive;
        font-weight: bold;    
        color: #272727;
        text-transform: uppercase;
    }
    .campo .inputText{
        text-transform: inherit;
    }
    .campo .btnLimparInput{       
        background-color: #ccc;
        padding: 4px 10px;
        cursor: pointer;
        color: #666;
        font-family: arial;
        font-size: 18px;
    }
    .campo .btnZeraInput:hover{
        background-color: #aaa;
        color: #333;
    }
    .campo .btnVerSenha{
        width: 30px;
        background-color: #ccc;
        padding: 2px;
        cursor: pointer;
    }

/* Requisitos senha */
    .forcaPass{
        position: absolute;		
        display: none;
        font-size: 10px;
        padding: 0px 5px;
        margin-top: 35px;
        margin-left: 10px;
        border-radius: 10px;
    }
    .forcaPass-fraca{
        background-color: indianred;
    }
    .forcaPass-media{
        background-color: orange;
    }
    .forcaPass-forte{
        background-color: springgreen;
    }
    .forcaPass-excelente{
        background-color: seagreen;
    }
    .forcaPass-verRequisitos{
        width: 15px;
        margin-left: 10px;	    
        border-radius: 50%;    
        background-color: #fff;
        opacity: 0.3;
        cursor: pointer;
        text-align: center;
        font-weight: bold;
        color: #000;
    }
    .forcaPass-verRequisitos:hover{
        background-color: yellow;
        opacity: 1;
    }
    .forcaPass-verRequisitos-ativo{
        background-color: yellow;
        opacity: 1;
    }
    .forcaPass-requisitos{
        display: none;
        position: absolute;
        margin-top: 10px;
        margin-left: -6px;	    
        background-color: lightgoldenrodyellow;
        padding: 10px;
        border-radius: 3px;
        flex-wrap: wrap;
        z-index: 1;
        color: #000;
    }
    .forcaPass-requisitos-forca{
        display: flex;
        flex-direction: column;
        min-width: 155px;
        padding-right: 5px;
        margin-bottom: 15px;
    }
    .forcaPass-requisitos-forca span:first-child{
        font-weight: bold;
        margin-bottom: 5px;
        text-decoration: underline;
    }

/* botões */
    .botoes{
        width: 100%;
        display: flex;
    }
    .botoes .botao{
        width: 100%;
        margin: 10px;
    }
    .botao{
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 5px;
        background-color: #ccc;
        background: linear-gradient(0deg, #ccc, #fff);
        border-radius: 5px;
        border: 1px solid #aaa;
        cursor: pointer;
        color: #666;
        font-size: 18px;
        font-weight: bold;
        font-family: cursive;
        transition: all 0.3s;
    }
    .botao:hover{
        background-color: #aaa;
        background: linear-gradient(0deg, #aaa, #ddd);
        box-shadow: 0px 1px 2px 0px #000;
        color: #333;
        font-size: 19px;
    }
    .botao:active{
        font-size: 17px;
    }
    .botao-dark{
        background: linear-gradient(0deg, #222, #aaa);
        color: #fff;
    }
    .botao-dark:hover{
        background: linear-gradient(0deg, #000, #aaa);
        color: #fff;
    }
    .botao-turquesa-escura{
        background: linear-gradient(0deg, #00ced1, #fff);
        color: #333;
    }
    .botao-turquesa-escura:hover{
        background: linear-gradient(0deg, #00ced1, #fff);
        color: #000;
    }
    .botao-verde{
        background: linear-gradient(0deg, #008000, #fff);
        color: #333;
    }
    .botao-verde:hover{
        background: linear-gradient(0deg, #008000, #fff);
        color: #000;
    }
    .botao-vermelho{
        background: linear-gradient(0deg, #ff0000, #fff);
        color: #333;
    }
    .botao-vermelho:hover{
        background: linear-gradient(0deg, #ff0000, #fff);
        color: #000;
    }

/* form de login */
    .formLogin{
        display: none;
        width: auto;
        margin: 0px;
        flex-direction: row;
        align-items: center;
        background-color: transparent;
        border: 0px;
    }
    .formLogin .campos{
        flex-direction: row;
        margin-top: 0px;
    }
    .formLogin .campo{
        margin-right: 5px;
        margin-bottom: 0px;
    }
    .formLogin .botoes{
        width: auto;
    }
    .formLogin .botao{
        width: var(--widthBotao);
        margin: 0px;
        margin-left: 5px;
    }

/* area usuário */
    .areaUsuario{
        width: 100%;
        display: none;
        justify-content: flex-end;
        align-items: center;
    }
    .areaUsuario .usuario{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer;
    }
    .areaUsuario .usuario:hover .nomeUsuario{
        color: #000;
    }
    .areaUsuario .usuario:hover .imgUsuario{
        box-shadow: -0px 1px 1px 0px #000;
    }
    .imgUsuario{
        width: 40px;
        height: 40px;
        margin-right: 10px;
        border-radius: 50%;
        border: 1px solid #000;
    }
    .loginUsuario{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .saldacaoUsuario{
        font-size: 14px;
        color: #333;
    }
    .nomeUsuario{
        color: #333;
        font-family: cursive;
        font-size: 20px;
        font-weight: bold;
    }
    .btnSairLogin{
        width: 18px;
        margin-left: 20px;
        cursor: pointer;        
    }
    .btnSairLogin:hover{
        box-shadow: 0px 1px 1px 0px #000;
        border-radius: 50%;
    }
    .btnSairLogin:active{
        width: 17px;
    }

/* form de cadastro */
    .formCadastro .botoes{
        justify-content: space-between;
    }
    .formCadastro .botao{
        width: var(--widthBotao);
    }
    .areaImgCad{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .areaImgCad-botoes{
        width: 0px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        margin-left: -190px;
        background: rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: all 0.5s;
    }
    .areaImgCad-botoes .areaImg{
        width: 40px;
        height: 30px;
        cursor: pointer;        
    }
    .areaImgCad-botoes .areaImg:hover{
        background: rgba(0, 0, 0, 0.2);
    }
    .areaImgCad-botoes .areaImg img{
        padding: 5px;
    }
    .areaImgCad:hover .areaImgCad-botoes{
        width: 40px;
    }
    #inputFotoCad{
        display: none;
    }
    #imgUsuarioCad{
        width: 200px;
        height: 200px;
        margin: 0px;
    }
    .areaImgCadUsuario .areaGif{
        width: 100px;
    }